@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.font-heading {
  font-family: 'Outfit', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Prose Content Customization */
.prose-custom h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  font-weight: 800;
  color: #0B1C33;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  position: relative;
  padding-left: 1.25rem;
}

.prose-custom h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.25rem;
  bottom: 0.25rem;
  width: 5px;
  background-color: #DC2626;
  border-radius: 10px;
}

.prose-custom p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  color: #475569;
}

.prose-custom ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: #475569;
}

.prose-custom li {
  margin-bottom: 0.5rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
/* force close mega menu */
.mega-close .group:hover > div {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: translateY(10px) !important;
  pointer-events: none !important;
}